[2016-11-30 17:46] lindsayplatt opened #1 "vizSkeleton + createMakefiles"

[2016-11-30 17:47] eread-usgs opened #2 "fetch the data"
at the state level

[2016-11-30 17:50] eread-usgs opened #3 "process - aggregate to 3 / 4 core categories."
total withdrawals = sum of 3 to 4 groups

Public supply, irrigation constant from '50-2010
In 1985 thermoelectric splits from industrial
see here: http://water.usgs.gov/watuse/WU-Category-Changes.html

[2016-11-30 17:52] eread-usgs opened #4 "prototype maps"
first cut, gifs of 1) total use by state, 2) Irrigation by state

[2016-11-30 17:54] eread-usgs opened #5 "process spatial data"
Take something that is lat/long and re-project, simplify, figure out how to deal w AK and HI.

[2016-11-30 17:58] eread-usgs opened #6 "prototype tree diagram"
Start w fake data if need be.
MVP: 3/4 categories
++: all categories

[2016-11-30 18:00] eread-usgs opened #7 "CI and initial layout"
get something out there.

[2016-11-30 18:05] eread-usgs opened #8 "time slider"

[2016-11-30 18:06] eread-usgs opened #9 "mock up timeline"
w e.g., CLA, CA drought. Get w Molly on relevant happenings.

[2016-11-30 19:25] #1 closed, assigned to lindsayplatt

[2016-11-30 20:05] lindsayplatt commented on #3
Just worked a little bit on this to see if I could get something going for my tree stuff. Lots of missing values. Just thought I'd share in case any of it was useful:

[code]

[2016-11-30 20:08] dblodgett-usgs commented on #3
See #14

[2016-11-30 20:11] #2 closed, assigned to ldecicco-USGS, aappling-usgs

[2016-11-30 20:18] ldecicco-USGS opened #15 "Pre-1985 data"

[2016-11-30 20:34] lindsayplatt commented on #6
the `portfolio` package makes this really easy:

[code]

@jiwalker-usgs @jread-usgs can we svg-ify the `mytreemap` object? If not, we might be able to reverse engineer the algorithms.

[2016-11-30 20:36] jordansread commented on #6
maybe? Let me look quick

[2016-11-30 20:38] jordansread commented on #6
lots of nesting
[code]

[2016-11-30 20:42] jiwalker-usgs commented on #6
I think it is recursive, there is a map inside the map

[2016-11-30 20:42] jordansread commented on #6
then I think this is probably what we want in the end:
[code]
but I haven't been able to get the geometries yet, because x and y and width etc seem to all be the same for different types. Must be something else going on

actually, looks like the reference may be in the viewpoint (`vp`)

[code]
so this is already pretty much an svg

[2016-11-30 20:57] lindsayplatt commented on #6
How about this one:

[code]

[2016-11-30 20:58] dblodgett-usgs commented on #15
The only pre-1985 data we can get right now are the national data from the 2010 compilation report. Note that sample vizualizations of the data are available in that report and that they are now available in the project as of #16 Thanks @ldecicco-USGS !

[2016-11-30 20:58] #15 closed, assigned to nobody

[2016-11-30 20:59] dblodgett-usgs commented on #3
This is done and is now using dataretrieval for data access as of #16

[2016-11-30 21:12] jordansread commented on #6
do you have mock-ups w/ the data in either of these packages?

[2016-11-30 21:14] jordansread commented on #6
@lindsaycarr what is the `GNI2014` object from?

[2016-11-30 21:27] lindsayplatt commented on #6
the treemap package

[2016-11-30 21:30] jordansread commented on #6
[code]
@lindsaycarr ?

[2016-11-30 21:33] lindsayplatt commented on #6
hmmm strange - works for me

[2016-11-30 21:33] jordansread commented on #6
nevermind, needed to do `data('GNI2014')`

[2016-11-30 21:34] lindsayplatt commented on #6
Strange though, I didn't have to do that.

See #17 - it has my wateruse data treemaps. You can just run this to get them, too:

[code]

[2016-11-30 21:35] lindsayplatt commented on #3
The processed data we have only has industrial for 1985. Does that seem right?

[2016-11-30 21:53] eread-usgs commented on #9
![screen shot 2016-11-30 at 3 53 06 pm](https://cloud.githubusercontent.com/assets/7794368/20772917/1c5b47f0-b715-11e6-9aba-60ffc5efb225.png)

[2016-11-30 21:58] #5 closed, assigned to jordansread

[2016-11-30 21:59] jordansread opened #18 "mock up visualize.map"
take the processed map and make an svg that is properly decorated (i.e., classes and ids)

[2016-11-30 22:22] ldecicco-USGS opened #20 "Add DC to state data fetcher"

[2016-11-30 22:22] aappling-usgs opened #21 "prototype barplot timeline"
just in case the tree diagram is too much, or maybe to be compatible with tree diagram, or maybe to look at and discard

[2016-11-30 22:23] aappling-usgs commented on #21
![image](https://cloud.githubusercontent.com/assets/12039957/20773817/e7dde338-b710-11e6-872f-91b5d07a2489.png)

[2016-11-30 23:13] wdwatkins commented on #4
Industrial
![industrial](https://cloud.githubusercontent.com/assets/13987349/20775288/cfad6a36-b71f-11e6-9717-da88ca4968cf.gif)
public supply
![publicsupply](https://cloud.githubusercontent.com/assets/13987349/20775289/cfb0e8d2-b71f-11e6-9ca4-03d9af820170.gif)
irrigation
![irrigate](https://cloud.githubusercontent.com/assets/13987349/20775297/d5dd41ec-b71f-11e6-8600-8d23aa45bc24.gif)
Thermoelectri

[2016-11-30 23:40] jordansread opened #26 "create basic svg based on treemap object"
Start with a single point in time and figure out how to scale and animate later

[2016-12-01 01:31] dblodgett-usgs commented on #3
No... I'm looking into it.

[2016-12-01 18:20] eread-usgs commented on #6
@jread-usgs or @lindsaycarr can you toss a couple of pngs of the tree maps when you have a moment?

[2016-12-01 18:27] lindsayplatt commented on #6
![tm_1950](https://cloud.githubusercontent.com/assets/13220910/20806694/92050f66-b7c1-11e6-9211-cbded4582546.png)
![tm_1955](https://cloud.githubusercontent.com/assets/13220910/20806695/92102fc2-b7c1-11e6-8f44-4ae738a5e8f1.png)
![tm_1960](https://cloud.githubusercontent.com/assets/13220910/20806698/92166644-b7c1-11e6-99e9-91c0674395dc.png)
![tm_1965](https://cloud.githubusercontent.com/assets/1322

[2016-12-01 18:28] lindsayplatt commented on #6
![tm_1985](https://cloud.githubusercontent.com/assets/13220910/20806707/983046bc-b7c1-11e6-83a8-bf1c14fba3c7.png)
![tm_1990](https://cloud.githubusercontent.com/assets/13220910/20806708/9831d90a-b7c1-11e6-92f6-9d730cdc0507.png)
![tm_1995](https://cloud.githubusercontent.com/assets/13220910/20806710/98342b7e-b7c1-11e6-93ab-e9c4b1896234.png)
![tm_2000](https://cloud.githubusercontent.com/assets/1322

[2016-12-01 18:28] lindsayplatt commented on #6
![tm_2010](https://cloud.githubusercontent.com/assets/13220910/20806730/a8aa5320-b7c1-11e6-8768-16d1efe5067f.png)

[2016-12-01 18:30] lindsayplatt commented on #6
@eread-usgs some of them don't seem correct, but they do reflect what is in the dataset.

[2016-12-01 18:31] lindsayplatt commented on #6
we will need to work on the labels and style (this is all auto), but once we decide what we are moving forward with

[2016-12-01 18:31] aappling-usgs commented on #6
cool! looks like we could take out total surface water and total ground water and total surface water, saline and total groundwater, saline, right? because those are sources rather than destinations?

[2016-12-01 18:32] aappling-usgs commented on #6
would be awesome if we could eventually get the coloring to reflect similar categories as in the categories table

[2016-12-01 19:36] #26 closed, assigned to jordansread

[2016-12-01 19:36] #21 closed, assigned to aappling-usgs

[2016-12-01 19:37] eread-usgs opened #28 "photos per category"
from compilation report?

[2016-12-01 19:43] eread-usgs opened #29 "state scaling factors for all time all categories all states + total"

[2016-12-01 19:43] eread-usgs commented on #29
does not include per capita scaling or XY

[2016-12-01 19:45] eread-usgs opened #30 "map scaling and translation"
make it so its easy to take scale transform and keep the centroid location constant.

[2016-12-01 19:46] eread-usgs opened #31 "CSS category or time step apply the translate transform function"

[2016-12-01 19:46] eread-usgs commented on #31
think about how you want the classes formatted for this.

[2016-12-01 19:48] #18 closed, assigned to nobody

[2016-12-01 19:49] eread-usgs opened #32 "header footer"
copy for hurricane matthew, edit for this viz

[2016-12-01 19:50] eread-usgs commented on #32
need thumbnail

[2016-12-01 19:50] eread-usgs commented on #32
screenshot from here https://docs.google.com/document/d/170-FKSROa1o8M8H4dPq4eNu84VMnmJKtml-q25bMwXg/edit#

[2016-12-01 19:54] eread-usgs opened #33 "draft a caption text & title"

[2016-12-01 19:55] eread-usgs opened #34 "draft a press release"

[2016-12-01 19:57] lindsayplatt commented on #6
could be cool for internal communications, but decided not to include in this vizzie

[2016-12-01 19:57] #6 closed, assigned to jordansread, lindsayplatt

[2016-12-01 20:14] wdwatkins commented on #4
**Now with updated data**

Thermoelectric:
![thermo](https://cloud.githubusercontent.com/assets/13987349/20810226/7faeed48-b7ce-11e6-84e9-203c3e46370c.gif)

![industrial](https://cloud.githubusercontent.com/assets/13987349/20810385/21f2d2f4-b7cf-11e6-9703-a521239be665.gif)

![public](https://cloud.githubusercontent.com/assets/13987349/20810586/dcdace1e-b7cf-11e6-9c86-b402099168f2.gif)
![irrigation

[2016-12-01 20:24] #9 closed, assigned to eread-usgs

[2016-12-01 20:25] #4 closed, assigned to wdwatkins

[2016-12-01 21:15] jordansread commented on #30
This https://css-tricks.com/transforms-on-svg-elements/ explains why this is challenging.

my approach is to center each polygon element at `0,0` for its coordinates, then `transform = translate(x,y)` its parent group to get it in place. Then apply the CSS scale to the element itself (based on 0,0 native) as a scale only, cutting out the need to keep up with the scale and transform that would othe

[2016-12-01 21:44] lindsayplatt commented on #33
@jiwalker-usgs added this description:

[code]

thought it would be a nice place to start

[2016-12-01 22:38] lindsaycarr commented on #33
related vizzies:

- CA drought
- CO drought

[2016-12-02 14:18] jordansread commented on #30
Ok, looks like I can do that thing ☝️

if the geom is written to center in the upper left corner of the svg (the 0,0 in svg space), and then I group that geom and use a translate on the group to get it in the right place, I can scale the actual geom w/o having to do an x/y translate at the same time. Looks kind of like this:

[code]
![image](https://cloud.githubusercontent.com/assets/2349007/20837

[2016-12-02 14:24] jordansread commented on #30
The challenge is getting the actual svg to be written with the shifted geom in the real 0,0

I use the bbox of all of the states in their proper places to define the plot, but `sp::plot()` is going to honor whichever dim matters to keep the aspect ratio of the plot right, so I need to figure that out. I think this can be done by defining the output size first, and using that rectangle to define xl

[2016-12-02 14:30] jordansread commented on #30
Can animate the scaling with css easily:

[code]
or we could do it w/ a delay loop in js, where we interpolate the starting point for the scale (what it is now) to the ending point.

[2016-12-02 14:30] jordansread commented on #30
@jiwalker-usgs is working on the preferred way to do the changes I think?

[2016-12-02 14:48] jordansread commented on #30
When I write the svg canvas size to be the same scale as the canvas that I expect to plot, the actual centroid and the 0,0 reference centroid are still off:

![image](https://cloud.githubusercontent.com/assets/2349007/20837973/0db8f6d6-b86c-11e6-8285-1b2b0fd96c72.png)

:(

maybe a par setting that I am missing, or something sp::plot is doing that I don't quite understand.

[2016-12-02 14:53] jordansread commented on #30
YAY!
`setParUsrBB = TRUE` is what allows me to lock the dims to expected
![image](https://cloud.githubusercontent.com/assets/2349007/20838107/bcc555ac-b86c-11e6-8d4d-e32b384e8d3b.png)

[2016-12-02 14:55] dblodgett-usgs commented on #30
🎯

[2016-12-02 14:56] dblodgett-usgs commented on #3
We're good on the data front now.

[2016-12-02 14:56] #3 closed, assigned to ldecicco-USGS, aappling-usgs

[2016-12-02 14:56] dblodgett-usgs commented on #20
Got this in #39

[2016-12-02 14:56] #20 closed, assigned to ldecicco-USGS

[2016-12-02 14:57] dblodgett-usgs commented on #28
I showed @mwernimont where to find them. Think we are good?

[2016-12-02 15:08] mwernimont commented on #28
I can't really extract the photos from the pdf, unless I screen shot them, but that would be pretty terrible quality

[2016-12-02 15:19] jordansread commented on #30
Centroids!~

![image](https://cloud.githubusercontent.com/assets/2349007/20838957/5b5a7dfc-b870-11e6-8b11-d301e260b144.png)

[2016-12-02 15:25] jiwalker-usgs commented on #30
Yeah, we will create that CSS rule (above) and apply it to each state.  Hopefully this will be nice and smooth.  One tip I found is to perhaps use `scale3d` to gain the benefit of the GPU on most modern browsers.

[2016-12-02 17:00] lindsayplatt opened #48 "social media release plan"
https://docs.google.com/document/d/1AwPQdSKqP53fz3Lyz5heWR5KGDDoIAU-2hSUzWd43kU/edit

To do:
- [x] create content
- [x] approve content w/ team
- [x] complete forms for USGS accounts to share these
- [x] make a Gif and send to Scott Horvath

[2016-12-02 17:03] lindsayplatt commented on #32
related vizzies:

- CA drought
- CO drought

@jiwalker-usgs since these aren't in the USGS-VIZLAB repository, can we just do the url or should we migrate them? Not sure what kind of effort would be involved in migration.

[2016-12-02 17:11] jiwalker-usgs commented on #32
For the footer bit to work they need to be vizlab-ified.  The script looks at the viz.yaml from those repos to get the thumbnail and path.  We could probably put a rush on getting those migrated (I don't think it should be that bad, just a simple viz.yaml with no fetch/process/visualize/publish steps.

[2016-12-02 17:16] lindsayplatt commented on #32
can you post the links to the existing repos? I can try to do that.

[2016-12-02 17:40] jiwalker-usgs commented on #32
https://github.com/USGS-CIDA/OWDI-Lower-Colorado-Drought-Vis
https://github.com/USGS-CIDA/CIDA-Viz

For now we can even leave them in place and just add viz.yaml and thumbnail (Lower CO already has thumbnail I believe), but if you are daring you can transfer ownership to CIDA-VIZLAB (may want to rename california repo).

[2016-12-02 17:46] jordansread opened #50 "create background of normal state sizes behind the transformed states"
To create this type of visual:

![image](https://cloud.githubusercontent.com/assets/2349007/20844257/91e20f3e-b884-11e6-8b44-4427a5858427.png)

So, the easy way to do this is to just duplicate the paths for each state and have a state background and a scaled state (w/ different css for each). That would work, but has the unnecessary effect of doubling the file size (right now we are 250KB, which i

[2016-12-02 18:08] jordansread commented on #30
done

[2016-12-02 18:08] #30 closed, assigned to jordansread

[2016-12-02 18:44] #50 closed, assigned to jordansread

[2016-12-02 19:37] jordansread opened #53 "handle no data"
have a different color and keep full size? Fill w/ hashed lines? AZ is missing some years and we need to deal with that appropriately.

[2016-12-02 20:46] wdwatkins commented on #53
Full size with crosshatch seems ok.  Will there be a background map of normal state size that would need to be covered up, so it doesn't just look like it had minuscule water use?

[2016-12-02 21:10] jordansread commented on #53
![image](https://cloud.githubusercontent.com/assets/2349007/20850566/6f8003a2-b8a1-11e6-8876-21ba80994dae.png)

here is what it looks like. But AK and AZ have no data here, and both display incorrectly for different reasons.

[2016-12-02 21:20] lindsayplatt commented on #32
need to change viz.yaml >> footer to reflect CO and CA locations + diff repos, but I forgot to branch so now I need to wait for my open PR to get merged before finishing this.

[2016-12-02 21:47] aappling-usgs commented on #29
@wdwatkins is this done now?

[2016-12-02 21:52] wdwatkins commented on #29
Yeah think this can be closed

[2016-12-02 21:53] #29 closed, assigned to wdwatkins

[2016-12-02 21:54] wdwatkins opened #70 "industrial data missing for earlier years"
needs to be added in clean, so there is no data values for the svg

[2016-12-02 21:55] eread-usgs commented on #34
https://docs.google.com/a/doi.gov/document/d/1q1jwdIl9k8UFUn3FZZJB74HJWGpw-HWmcIIOBbEBpTg/edit?usp=sharing

[2016-12-02 22:30] aappling-usgs commented on #70
fixed in #71

[2016-12-02 22:30] #70 closed, assigned to ldecicco-USGS, wdwatkins

[2016-12-02 22:30] #34 closed, assigned to eread-usgs

[2016-12-02 22:31] #28 closed, assigned to nobody

[2016-12-02 22:31] #8 closed, assigned to jiwalker-usgs, mwernimont

[2016-12-02 22:31] #33 closed, assigned to lindsayplatt

[2016-12-02 22:32] aappling-usgs commented on #53
could also do a graphic '?' in the middle of a state with missing data

[2016-12-03 14:38] dblodgett-usgs opened #75 "Data Issues"
Use this issue to track other data weirdness you see.

- [x] Montana and Missouri is switched in 1975.
- [x] Thermoelectric has a bar (national total) for 1950, but I thought this category didn't start until later?
- [x] Public Supply *should* have state values for 1950, right? Those are missing
- [x] Total WU per state is missing after 1980
- [x] units on national totals for bars are different th

[2016-12-03 14:41] jordansread commented on #31
I think this is done?

[2016-12-03 14:41] #31 closed, assigned to jiwalker-usgs

[2016-12-03 14:42] jordansread opened #76 "scale out smaller east coast states"
Otherwise they are the limiting size.

initial prototype:
![image](https://cloud.githubusercontent.com/assets/2349007/20860027/6292fa62-b934-11e6-8ac6-21bf41c50ac8.png)

[2016-12-03 14:45] jordansread opened #77 "Change scale reference in some states (custom?)"
Such as FL, MI, etc.
![image](https://cloud.githubusercontent.com/assets/2349007/20860053/a779e7bc-b934-11e6-8835-6c788c74a87b.png)

Probably can be done by experimenting w/ a state-specific transform, which would change its scaling reference. Or some kind of nudge parameter applied custom when we calculate the centroid of certain states.

[2016-12-03 14:48] dblodgett-usgs opened #78 "Bar scales adjusted so each category has a different Y axis scale."

[2016-12-03 15:07] jordansread opened #79 "all states go to "no data state" for 2015"
So, we let people select it, but get all states rendered as "no data"

[2016-12-03 16:08] dblodgett-usgs commented on #75
Verified the first issue in the report and fixed. Will leave this open for other issues if they come up.

[2016-12-03 16:14] jordansread opened #81 "Need final timeline dates / ranges and titles"
![image](https://cloud.githubusercontent.com/assets/2349007/20860588/380dae6a-b941-11e6-8f74-6fb3b42380f1.png)

[2016-12-03 16:14] jordansread opened #82 "No public supply data for states in 1950?"
Not coming through in json.

I think we need a data audit for years and categories.

[2016-12-03 16:30] jordansread commented on #82
Thermoelectric too

[2016-12-03 16:36] jordansread commented on #82
Also odd that DC goes from such a big number for public supply in 1985 to almost none in 1990?

[2016-12-03 16:44] jordansread commented on #82
example of data audit needs:
![image](https://cloud.githubusercontent.com/assets/2349007/20860746/6609232c-b945-11e6-8210-52c7330c4973.png)

bar on the bottom is smaller than 1970, but the area on the map doesn't make sense with that (it shrinks)

![image](https://cloud.githubusercontent.com/assets/2349007/20860749/79a911f8-b945-11e6-84d0-15971e1cdd30.png)

[2016-12-03 18:15] eread-usgs opened #84 "Make slider bar interaction mouse-over instead of click-and-drag"
To increase ease of use, can we either
1) Make slider bar respond not only to click and drags by users, but also to just mousing over the slider, and the slider responds?

OR

2) Make the entire region (bar charts, timeline, slider, etc, shown in attached image) 'active' to mouse-overs, so that the slider responds and will go wherever the users mouse is?

@mwernimont and @jiwalker-usgs thoughts fr

[2016-12-03 18:53] #84 closed, assigned to jiwalker-usgs, mwernimont

[2016-12-03 18:55] eread-usgs opened #86 "Tool tips need data values"
For tool tips over states and bar plot, need:
1) Name of state (for states not bar chart- bar chart mouseovers should say `US Total` instead of state name)
2) Category (e.g., `Total water withdrawals`, `Industrial water withdrawals` etc)
3) Value (#) and units- volume per year

[2016-12-03 18:56] eread-usgs opened #87 "when year is selected, should be emphasized over other years."
As it functions now, all years up to the year selected are highlighted. This is somewhat misleading / inconsistent with the data shown on the map, which is only the state totals for a *single* year, not the sum of all years prior.

Instead, I recommend we have the current year which the slider is on be highlighted in a similar fashion to how the legend category is highlighted / greyed out when sel

[2016-12-03 18:56] eread-usgs commented on #86
related to #73

[2016-12-03 18:57] eread-usgs commented on #86
This is an MVP b/c of the data issues we are having- need to have Molly and our other reviewers be able to see the #s associated w states and totals.

[2016-12-03 18:59] #7 closed, assigned to jiwalker-usgs, mwernimont

[2016-12-03 18:59] eread-usgs commented on #81
All of the timeline info is placeholder for now- waiting for timeline values from Molly.

[2016-12-03 19:02] jordansread commented on #78
completed

[2016-12-03 19:02] #78 closed, assigned to dblodgett-usgs

[2016-12-03 19:03] jordansread commented on #76
is now
![image](https://cloud.githubusercontent.com/assets/2349007/20861561/d9674a3e-b958-11e6-8050-459145295c98.png)

[2016-12-03 19:03] #76 closed, assigned to jordansread

[2016-12-03 19:04] eread-usgs opened #88 "Need legend label"
Suggested:

`Water withdrawals categories`

![screen shot 2016-12-03 at 1 03 22 pm](https://cloud.githubusercontent.com/assets/7794368/20861563/e44787b6-b958-11e6-93db-ec90fd0eb20a.png)

[2016-12-03 19:05] eread-usgs opened #89 "make year labels larger"
~2 times as big? And there may be room to orient horizontal even after making them bigger.

![screen shot 2016-12-03 at 1 04 26 pm](https://cloud.githubusercontent.com/assets/7794368/20861569/0e848c18-b959-11e6-8942-b3c02c1fdf72.png)

[2016-12-03 19:06] eread-usgs commented on #86
@wdwatkins or @lindsaycarr, interested?

[2016-12-03 19:06] eread-usgs opened #90 "State tool tips should have state names capitalized"

[2016-12-03 19:08] eread-usgs opened #91 "consistent colors for text"
This does not include for text that is purposefully un-bolded, such as for categories that are not currently shown on the legend). Make timeline text and year same color, these should be same color as legend text that @jread-usgs is working on.

![screen shot 2016-12-03 at 1 07 15 pm](https://cloud.githubusercontent.com/assets/7794368/20861593/83e5da16-b959-11e6-874e-2b4c22b313e0.png)

[2016-12-03 19:10] eread-usgs opened #92 "Add in caption text and title above figure"
Title / subtitle: `How much water do we use? U.S. water withdrawals, 1950-present` `The USGS National Water-Use Science Project has documented how and where we use water for the last 65 years.`

Caption text: `How and where Americans use water has changed with our population growth and many technological, environmental, and regulatory drivers. In this figure, the area and color of each state polyg

[2016-12-03 19:16] jiwalker-usgs commented on #90
I think this is fixed by #73, though it sounds like there is a different issue here.

[2016-12-03 19:20] jiwalker-usgs commented on #87
I greyed out the future years to add a bit of flash when moving the time slider, but wasn't sure how to show this most effectively.

[2016-12-03 19:22] jiwalker-usgs commented on #81
Also, should this be 2009-present?

[2016-12-03 19:24] jiwalker-usgs commented on #79
related to #53 this can be fixed if JSON has 2015 but all states are missing

[2016-12-03 19:27] jiwalker-usgs commented on #75
related to #82 may want to consolidate the two.

[2016-12-03 19:30] jiwalker-usgs commented on #32
We need to deploy CO and CA to include actual thumbnails for the footer.

[2016-12-03 21:17] eread-usgs opened #94 "Hurricane matthew thumbnail broken"
![screen shot 2016-12-03 at 3 17 38 pm](https://cloud.githubusercontent.com/assets/7794368/20862254/a5e67ad2-b96b-11e6-93f3-bb615f023f3b.png)

[2016-12-03 21:19] jordansread opened #95 "are the scaled areas correct?"
spot check total WU for 1970: DC vs Connecticut. Connecticut is 1,537, DC is 1,261, but sure looks bigger than CN:

![image](https://cloud.githubusercontent.com/assets/2349007/20862270/e7ea366c-b96b-11e6-9503-359eed93ca31.png)
vs
![image](https://cloud.githubusercontent.com/assets/2349007/20862272/ed80a9b2-b96b-11e6-9b5d-39b57092ca08.png)

[2016-12-03 21:20] jordansread commented on #95
the scaleFactors are correct (I spot checked these two)

[2016-12-03 21:21] eread-usgs opened #96 "Total water use changes from 2005 to 2010, but no apparent change in areas"
![screen shot 2016-12-03 at 3 18 48 pm](https://cloud.githubusercontent.com/assets/7794368/20862287/1ae93cde-b96c-11e6-9bd5-3a73137b063a.png)

![screen shot 2016-12-03 at 3 19 00 pm](https://cloud.githubusercontent.com/assets/7794368/20862288/20ee4750-b96c-11e6-8073-8c92150fe416.png)

[2016-12-03 21:22] jordansread commented on #95
At best they are the same size, although DC looks bigger (in black)

![image](https://cloud.githubusercontent.com/assets/2349007/20862298/4f545ecc-b96c-11e6-98bc-28aa000dd180.png)

[2016-12-03 21:23] eread-usgs commented on #96
You have to try this on your own computer to see it- I just see no changes in any state areas across these years.... seems strange.

[2016-12-03 21:45] jordansread commented on #96
there is no state data for total beyond 1985

[2016-12-03 21:45] jordansread commented on #96
LDC is aware and will fix it I think

[2016-12-03 21:47] jordansread commented on #86
I did a partial solution to get the value in, but we still need things like units, maybe a comma (e.g., `1,100`) for the values, and some other text that should be in there. Got the MVP for data review, but not the MVP for release.

[2016-12-03 22:21] jordansread commented on #53
![image](https://cloud.githubusercontent.com/assets/2349007/20862585/7e0346b8-b974-11e6-9d1a-897aece928e0.png)

hatching for now?

[2016-12-03 22:26] #87 closed, assigned to jordansread

[2016-12-03 22:26] #88 closed, assigned to jordansread

[2016-12-03 22:26] #90 closed, assigned to lindsayplatt

[2016-12-03 22:26] #86 closed, assigned to nobody

[2016-12-03 22:30] jordansread commented on #53
Looks like we catch some w/ no data, but the json isn't consistent:

![image](https://cloud.githubusercontent.com/assets/2349007/20862625/d8f82d1c-b975-11e6-829e-d8ccfb3b4289.png)

[2016-12-04 02:08] jordansread opened #99 "double tooltips on bars?"
![image](https://cloud.githubusercontent.com/assets/2349007/20863558/24fc8956-b994-11e6-944f-571a68039d9c.png)

two tips overlaid and they look like different numbers.

[2016-12-04 02:24] eread-usgs commented on #99
+1

[2016-12-04 02:40] jordansread commented on #82
redundant w/ #75

[2016-12-04 02:40] #82 closed, assigned to nobody

[2016-12-04 03:20] jordansread commented on #95
fixed in #93

[2016-12-04 03:20] #95 closed, assigned to nobody

[2016-12-04 03:29] jordansread opened #101 "Add no data hatch to legend"

[2016-12-04 03:30] jordansread commented on #96
with #101 you can tell when the dates don't have data.

[2016-12-04 03:31] jordansread commented on #79
in #101

[2016-12-04 04:33] jordansread opened #102 "clicking the bars should snap you to that time point"
Should be able to drag the slider, but also to click the bars.

[2016-12-04 04:54] jordansread opened #103 "create a thumbnail for this viz"

[2016-12-04 14:54] dblodgett-usgs opened #105 "Units For Everything"
State totals and histogram are in MGD.

If we do per capita, the histogram is in tgd (thousand gallons per day)

[2016-12-04 14:54] dblodgett-usgs opened #106 "Y-Scale on totals histogram."

[2016-12-04 14:59] eread-usgs opened #107 "after new changes deployed, takes a 'refresh' to get app to properly load"
As shown in this video, I have a consistent issue with the site where, after new changes have been deployed and I do a hard refresh to see those changes, initially no data loads, just the green screen and green bars. I am then required to do an additional refresh to get the data to appear and the app to properly load. I included a gif of what's happening. This has been an issue for me on dev ever

[2016-12-04 15:00] #53 closed, assigned to nobody

[2016-12-04 15:02] eread-usgs commented on #107
Since I made this issue, a PR has been merged so that the default background color is no longer green- so now it may just appear that there is no data showing up, as opposed ot the green layers only showing up.

[2016-12-04 15:02] dblodgett-usgs commented on #107
Probably need to minify the Javascript.

[2016-12-04 15:06] #96 closed, assigned to ldecicco-USGS, dblodgett-usgs

[2016-12-04 15:08] jordansread commented on #106
You want a y-axis?

[2016-12-04 15:09] jordansread commented on #79
call this done?

[2016-12-04 15:09] #79 closed, assigned to nobody

[2016-12-04 15:09] dblodgett-usgs commented on #106
Maybe just a top line number indicating what the max is? I guess we could leave it off since we have the roll over quantities?

[2016-12-04 15:10] jordansread commented on #75
@dblodgett-usgs I updated your bullets ☝️

[2016-12-04 15:14] jordansread opened #108 "set cursor to default over the timeline years"
switches to ![image](https://cloud.githubusercontent.com/assets/2349007/20867091/fd9ccb3c-ba01-11e6-95cc-f8520f802718.png) over the text, but it should remain as `default` since the text isn't selectable.

[2016-12-04 15:38] dblodgett-usgs commented on #75
Re: national thermo in 1950, there is a national total for 1950, but the state breakout isn't available. I think we are OK as is? Need to make sure we have a caveat that the national totals are from the 2010 compilation trends and the state data are from individual compilation reports.

[2016-12-04 15:41] dblodgett-usgs commented on #75
Unfortunately, the 1950 compilation (by-state) table doesn't have public supply in it. It looks like the data do exist though: http://pubs.usgs.gov/circ/1951/circ115/htdocs/figure3.html The pubs copy of the report doesn't have the appendix with data in it though... will try and track that down.

[2016-12-04 15:42] dblodgett-usgs commented on #75
Bars, we are ok having big numbers? I'll make the units adjustment and we'll see what it looks like.

[2016-12-04 16:13] dblodgett-usgs commented on #75
I updated the data to fix the hawaii irrigation in 1950. Need to verify that is correct. Have a request in to get all the 1950 report data.

[2016-12-04 16:18] dblodgett-usgs commented on #75
I'm also just removing HI from the source data for now, it doesn't exist in 1955 and didn't become a state till 1959, so... probably ok?

[2016-12-04 16:26] jordansread commented on #75
I think so - but check that my change from last night still results in it being colored "no data" ? @dblodgett-usgs

[2016-12-04 16:27] dblodgett-usgs commented on #75
Yep. It is.

[2016-12-04 16:30] jordansread commented on #106
My preference is to be as minimal as possible but making sure things make sense. I think we can leave this axis off in the same way we don't have a areal legend for the state sizes.

[2016-12-04 16:31] dblodgett-usgs commented on #106
I can dig it.

[2016-12-04 16:31] #106 closed, assigned to nobody

[2016-12-04 16:42] dblodgett-usgs commented on #75
Found the fix for 1950 public supply... it's incoming soon.

[2016-12-04 16:59] jordansread opened #110 "Tooltips for bars don't stay in place on mobile"
![screenshot_20161204-105821](https://cloud.githubusercontent.com/assets/2349007/20867733/c9a6a8b6-ba10-11e6-8ee5-8ae55bb69dda.png)
This is when you tap a bar and then scroll

[2016-12-04 17:51] dblodgett-usgs commented on #75
A lot of these issues are fixed in #111.

[2016-12-04 19:17] #77 closed, assigned to nobody

[2016-12-04 20:18] dblodgett-usgs commented on #105
Basically taken care of in #113 but that needs review and most likely some debate.

[2016-12-04 20:19] dblodgett-usgs commented on #101
Let's call this done for mvp.

[2016-12-04 20:19] #101 closed, assigned to nobody

[2016-12-04 20:23] dblodgett-usgs commented on #75
Regarding DC, that's what's in NWIS Web. http://waterdata.usgs.gov/dc/nwis/water_use?format=html_table&rdb_compression=file&wu_area=State+Total&wu_year=ALL&wu_category=PS&wu_category_nms=Public%2BSupply I'll go back to the compilations and get the data.

Actually, the compilations all have 0 too. DC must have switched it's water supply.

[2016-12-04 21:00] jiwalker-usgs commented on #99
I wasn't seeing that, I'll have to take another look.

[2016-12-04 21:02] dblodgett-usgs commented on #75
All of Montana and Missouri were switched in 1975. They were reconciled.

[2016-12-04 21:04] jiwalker-usgs commented on #107
yeah, we'll need to kill the cache as best we can.

[2016-12-04 21:24] dblodgett-usgs commented on #75
Looking at Texas thermoelectric... the data in excel matches the pdf reports. But the reports are strange. Fresh surface water use is 8900, 940, 7460 in 1970, 1980, 1985 and saline is 2800, 5500, 3550 in the same years. Saline goes up in 1980, but not enough to come close to total thermo use from 1975...

Ahhh... Arkansas has 9700 in 1980 and less than 100 otherwise. Not much I can do since that's

[2016-12-04 22:30] jiwalker-usgs commented on #110
I don't know that I can get them to stay in place on scroll, but I can probably make them go away.

[2016-12-05 01:59] jordansread commented on #110
Is it possible for these tool tips to have the same behavior as the others? I.e., triggered and calculated on mousemove instead of mouseover?

[2016-12-05 02:22] jiwalker-usgs commented on #110
It is tricky because we don't have the svg canvas to work on like the other hovers.

[2016-12-05 12:49] #99 closed, assigned to nobody

[2016-12-05 13:27] mwernimont commented on #89
@eread-usgs #116

[2016-12-05 13:32] mwernimont commented on #108
@jread-usgs #116

[2016-12-05 13:42] mwernimont commented on #92
@eread-usgs #116

A little worried here with the huge amount of text, we discussed having the map and the slider all visible when you first load the page, and with this text we will probably have to make the map much smaller or the text pretty small to accomplish this. Especially on mobile since it takes about 2-3 scrolls of the default text size to find the map.

[2016-12-05 13:45] jordansread opened #117 "mobile device megathread (put your mobile thoughts/issues/comments here)"
- [ ] category buttons are hard(er) to read on mobile

[2016-12-05 13:47] mwernimont commented on #91
@eread-usgs #116

Made the timelslider text and lines black like the legend text.

[2016-12-05 13:53] jordansread opened #118 "Any way to link the slider and the bars more accurately?"
Looks like these are manually set:
![image](https://cloud.githubusercontent.com/assets/2349007/20887318/b633cbb0-babf-11e6-981f-e831c447e607.png)
is slightly offset, and

![image](https://cloud.githubusercontent.com/assets/2349007/20887327/bd9edd36-babf-11e6-9e02-9e853f8f6ba3.png)
seems closer to centered.

[2016-12-05 14:23] lindsayplatt commented on #94
they are actually both broken right now still because we are doing CA & CO. This is still the work that is being finished for #32

[2016-12-05 14:36] jordansread commented on #94
So why is the issue closed now?

[2016-12-05 14:38] lindsayplatt commented on #94
because #32 is still open and Hurricane-matthew isn't actually one of the thumbnails anymore

[2016-12-05 14:39] lindsayplatt commented on #94
I guess I just closed it since this will close just because #32 closes, both can stay open!

[2016-12-05 14:41] jordansread commented on #94
gotcha, whoops. Closing

[2016-12-05 14:41] #94 closed, assigned to jiwalker-usgs

[2016-12-05 14:52] eread-usgs commented on #92
Text can be out of the range of view if the legend gives some clues to interpretation. Let's discuss when I get into the office. @mwernimont

[2016-12-05 14:54] eread-usgs commented on #92
OHHHH I see @mwernimont - I should have said, the caption text (2 paragraphs) can go BELOW the figure.... sorry for writing that wrong.

[2016-12-05 14:54] eread-usgs commented on #92
Starting w/ `In this figure`, all text can go below the map

[2016-12-05 14:55] eread-usgs opened #120 "Get citations for data sources added below caption text at the bottom of the viz"

[2016-12-05 14:55] #91 closed, assigned to mwernimont

[2016-12-05 14:55] #89 closed, assigned to mwernimont

[2016-12-05 14:58] mwernimont commented on #92
Now that looks a bit better :)

[2016-12-05 14:59] dblodgett-usgs opened #121 "Scale states up from 0 when switching from noData rather than scaling down from 100."
Discussed with @jread-usgs - Scaling up from 0 would be nice because noData would flash to the blank white states then all the states would expand from a point.

[2016-12-05 15:00] dblodgett-usgs commented on #75
Closing this for now. I've started a data review conversation with folks off github.

[2016-12-05 15:00] #75 closed, assigned to dblodgett-usgs

[2016-12-05 15:04] dblodgett-usgs commented on #102
This is sweet!!!

[2016-12-05 15:04] #102 closed, assigned to nobody

[2016-12-05 15:04] dblodgett-usgs commented on #105
I think we are ok until someone tells us they want Mgal/day

[2016-12-05 15:04] #105 closed, assigned to nobody

[2016-12-05 15:26] jordansread opened #123 "Add analytics events to various things in app"
Best example so far is in climate-change-walleye-bass viz

[2016-12-05 15:28] jordansread commented on #121
I think this would involve a two-part transition BTW. doable, but needs some effort. approximately one `CIDA-BUCK`®

[2016-12-05 15:29] jordansread opened #124 "Don't forget to link to the repo in the footer"
I think we somehow missed this on the Hurricane viz - we should link to GH repo by default I would think. w/ a GH logo

[2016-12-05 15:36] wdwatkins commented on #123
Thinking events to start:

 - toggling on/off each use category on the map
 - moving the slider to each timestep
 - which state was moused over, for which period and category
 - which exit links were clicked

[2016-12-05 15:44] jordansread opened #125 "Add USGS watermark"
We did this for Hurricane Matthew. Should we do it here? @eread-usgs @dblodgett-usgs perhaps a question for Sonya?

[2016-12-05 16:08] eread-usgs commented on #125
I like that and think we should do it again.

[2016-12-05 16:09] lindsaycarr commented on #48
To do:

- [ ] complete forms for USGS accounts to share these

[2016-12-05 16:14] ldecicco-USGS opened #126 "Footer doesn't go to bottom of screen"
Maybe intentional? I know I'm weird on my long monitor, but if this is not how we want it to look...the blue bar doesn't go to the bottom of the page:

![image](https://cloud.githubusercontent.com/assets/1105215/20892374/9f9f45fa-bad3-11e6-99d8-af2ad36075fd.png)

[2016-12-05 16:19] mwernimont commented on #126
That long monitor man...it doesn't do that on mine, but will see if I can't find something on designing for long monitors since we always have this issue

[2016-12-05 16:28] jordansread commented on #126
I think that footer needs some love. E.g., why is the width of the footer div different than the width of the text above it?

[2016-12-05 16:29] jordansread commented on #125
@mwernimont I can take this one unless you want it?

[2016-12-05 16:30] mwernimont commented on #125
you go for it @jread-usgs

[2016-12-05 16:31] mwernimont commented on #126
will give it a look

[2016-12-05 16:42] mwernimont commented on #126
#127 for the footer widths

[2016-12-05 17:12] jordansread opened #129 "Support easy `embed` of this into other apps?"
I think we called out this being a priority in the past. If so, which part of this should have an easy way to embed it? How would we make that clear to other developers?

[2016-12-05 18:09] jiwalker-usgs commented on #129
Would this be embedding only the figure, or the whole content section.  Basically we need to make sure that any embed includes javascript and css.

[2016-12-05 18:10] #125 closed, assigned to jordansread

[2016-12-05 18:10] jordansread commented on #129
What would be valuable to others for embed? I think all of this:
![image](https://cloud.githubusercontent.com/assets/2349007/20896532/deb8182e-bae3-11e6-941f-4b6e9c229c59.png)

[2016-12-05 18:17] jiwalker-usgs commented on #107
need to update to master vizlab to fix this (I'll do this on build box in a bit).

[2016-12-05 18:20] lindsayplatt commented on #48
@eread-usgs please review the social media release plan and edit/provide feedback. Lower priority for today, but I would like to submit the forms on Wednesday/Thursday.

[2016-12-05 18:32] dblodgett-usgs opened #130 "New Data Incorporation"
Will be working with a different historical data source Get it wired up.

[2016-12-05 18:33] dblodgett-usgs opened #131 "New Data QA/QC"
We now have two sources of transcription. We need to flag places the data doesn't match between the initial set we were working with and the new set we are going to use.

[2016-12-05 18:42] eread-usgs commented on #120
Pending text updates by @mwernimont

[2016-12-05 18:43] #108 closed, assigned to mwernimont

[2016-12-05 18:46] #81 closed, assigned to nobody

[2016-12-05 18:49] wdwatkins opened #132 "Start slider at 1960 for thermoelectric"
A logical thing to do when you first open the viz is switch to thermoelectric since its the next category, but you immediately get a full no-data map:
![image](https://cloud.githubusercontent.com/assets/13987349/20897691/0436d504-bae9-11e6-83b0-47717d501cb1.png)
I could see someone just thinking it is broken and leaving.  I think user experience would be much improved if the slider moves to 1960 (

[2016-12-05 18:50] eread-usgs commented on #107
verify cache breaker added to vizlab package? @jiwalker-usgs

[2016-12-05 18:50] #92 closed, assigned to mwernimont

[2016-12-05 18:50] dblodgett-usgs commented on #132
We could just start at 1960 period. The 1950/55 data is problematic.

[2016-12-05 18:51] eread-usgs opened #134 "Footer issues megathread"

[2016-12-05 18:53] eread-usgs commented on #132
what happens when you switch back from thermo to another category? does it go back to 1950? Issue #121 could also help with this and could be an alternative.

[2016-12-05 18:53] eread-usgs commented on #121
low-ish priority for Monday 12/5, but nice to have for 12/13 release

[2016-12-05 18:56] jiwalker-usgs commented on #121
The trick @jread-usgs is knowing what state you were in.  You only want to do the transition to zero if you were in a NaN state (which we don't have a way of knowing now).  I think to do this we would want to add another shape for missing values, and when we have a missing value, shrink the normal shape to zero so that when the missing value goes away, it will be growing from zero.

[2016-12-05 19:00] eread-usgs opened #135 "Legend- add text to indicate size (area) of states is proportional to state water use"
also add a symbol that represents some quantity of area/withdrawals

[2016-12-05 19:02] wdwatkins commented on #132
I would say it could switch back to 1950/55, **if** that is where the slider was in the last category.  Or maybe just if the slider hasn't been moved yet at all.

[2016-12-05 19:08] eread-usgs commented on #126
This appears to be resolved - @ldecicco-USGS is it better on your screen? I am going to move this into the 'footer megathread' if not.

[2016-12-05 19:11] #124 closed, assigned to mwernimont

[2016-12-05 19:12] eread-usgs commented on #134
- [x] Don't forget to link to the repo in the footer. I think we somehow missed this on the Hurricane viz - we should link to GH repo by default I would think. w/ a GH logo
- [x] Get actual titles of visualizations shown associated with thumbnails in footer (e.g. `California Drought Visualized with Open Data` instead of `California drought viz`)
![screen shot 2016-12-05 at 1 37 47 pm](https://clou

[2016-12-05 19:14] eread-usgs commented on #132
I think we should keep the default as either 1950 or 2010, and not have it change for different categories. I also think someone would try clicking another category before just assuming the thing is broken and leaving the site. I think between #121 and making the default 2010, we should be good (unless we hear otherwise from reviewers). I'm going to close this issue and note the default date elsew

[2016-12-05 19:14] #132 closed, assigned to nobody

[2016-12-05 19:15] eread-usgs opened #138 "Make slider default year 2010"
To prevent confusion w/ missing data in the early years.

[2016-12-05 19:15] mwernimont commented on #126
Theres a potential PR to fix Laura's issue still coming.

[2016-12-05 19:20] eread-usgs opened #139 "remove timeline"

[2016-12-05 19:22] eread-usgs commented on #107
I'm no longer seeing this issue- going to close the it.

[2016-12-05 19:24] wdwatkins commented on #132
Default to 2010 would solve this and is definitely easier.  I think the box noting that the category wasn't used those years would be worth having though as a lower-priority issue

[2016-12-05 19:24] wdwatkins commented on #103
stick with screenshots for now

[2016-12-05 19:40] #120 closed, assigned to nobody

[2016-12-05 20:00] jordansread commented on #135
Anyone have ideas for text in here?
Should be small enough text. @dblodgett-usgs or @eread-usgs ?

[2016-12-05 20:01] jordansread commented on #135
Obviously don't have the additional text right, but...
![image](https://cloud.githubusercontent.com/assets/2349007/20900769/27b0b462-baf5-11e6-8419-eebe8ca026b3.png)

(working on getting the number right)

[2016-12-05 20:10] mwernimont commented on #139
@eread-usgs #141 takes care of this, just need Walker to look it over

[2016-12-05 20:11] mwernimont commented on #92
@eread-usgs the text you provided is in the viz

[2016-12-05 20:24] #126 closed, assigned to mwernimont

[2016-12-05 20:43] mwernimont commented on #118
I'll get to it soon, sometimes the eyes play tricks on me when I've been staring at them all day.

[2016-12-05 20:46] mwernimont commented on #138
changing the start in the app js to 2010 will accomplish this, so start: 0, becomes start: 2010,

[2016-12-05 20:46] mwernimont commented on #32
IE is having issues with the footer images

[2016-12-05 20:48] mwernimont commented on #134
IE is having issues with the footer images

Not sure why, but writing this to remind myself later

[2016-12-05 21:47] #130 closed, assigned to ldecicco-USGS, dblodgett-usgs

[2016-12-05 21:50] #138 closed, assigned to ldecicco-USGS

[2016-12-06 01:59] #139 closed, assigned to mwernimont

[2016-12-06 01:59] jiwalker-usgs commented on #134
Lower CO should be good now, not sure about IE.

[2016-12-06 02:02] jiwalker-usgs commented on #32
closing this, #134 can be used for remaining issues.

[2016-12-06 02:02] #32 closed, assigned to lindsayplatt

[2016-12-06 02:05] jiwalker-usgs commented on #110
Is #141 a good enough fix for this?

[2016-12-06 03:12] #135 closed, assigned to jordansread

[2016-12-06 03:26] dblodgett-usgs commented on #118
This looks OK to me... maybe I'm not seeing it or is it fixed?

[2016-12-06 03:29] dblodgett-usgs commented on #110
Using the chrome emulator, the tooltips on mobil aren't clearing when you touch something else on the app... They don't move around and basically work, but it seams like they should clear out when you touch something else other than a tool tip?

[2016-12-06 05:32] lindsayplatt opened #151 "upper penninsula scales on Michigan centroid"
The UP scales based on Michigan centroid, so it looks displaced sometimes. Is there anyway to separate so they have individual centroids?

[2016-12-06 15:07] jordansread commented on #151
Not without a lot of work. It would involve splitting the two into individual "states", and handling the data appropriately to scale each part the same. Seems like something we could do, but it would be more work than it would seem. Same issue w/ Hawaii and probably a couple of others.

[2016-12-06 18:27] ldecicco-USGS opened #154 "Response to reviewers"
Reviewer 1 comments (MN):

- [x] UNITS should be more clearly stated.  People don't know what "mgd" are.  *Changed as suggested*

- [x] 1st Paragraph - "Mouse over the legend" should say "Click on the legend".  But you CAN mouse over each state to see the value for each state for the time and category selected, should add that.  *Changed as suggested*

- [x] Timeline - If someone goes back to 1950

[2016-12-06 19:38] jordansread commented on #154
For the USGS symbol comment - I think the symbol is supposed to be a watermark for the map, so it shouldn't stand out, it should instead make sure that the attribution follows re-use of the figure. I don't want to emphasize that on the map because any point of emphasis we put in there takes away from emphasizing the data. However, we could make the watermark the same color as the state backgrounds

[2016-12-06 20:27] dblodgett-usgs commented on #154
If #155 is merged, the checks I added are legit.

[2016-12-06 20:28] dblodgett-usgs commented on #154
I'd say the 'Other' category is a won't fix. That would both be a ton of work and could be misleading because of how things have changed over time.

[2016-12-06 22:37] eread-usgs commented on #154
@ldecicco-USGS thanks for putting this into an issue.

[2016-12-07 15:04] mwernimont commented on #118
#157

[2016-12-07 15:08] mwernimont commented on #110
Pretty sure JWalks Comment in 141 will fix this issue, PR soonish

[2016-12-07 16:45] mwernimont commented on #110
#157 has the tooltip disappear on scroll

[2016-12-07 18:53] #118 closed, assigned to mwernimont

[2016-12-07 20:53] dblodgett-usgs commented on #131
Got this off to Nancy. I'll leave this issue open pending her review.

[2016-12-08 14:21] eread-usgs commented on #154
I updated the top comment with Nancy's comments. I think the remaining fixes should be pretty trivial, but text added to the no data state/time combos, and to the overall Instructions/Explanations comment from Martha may need some discussion and thought @jread-usgs looking at you for these ones.

[2016-12-08 14:27] eread-usgs commented on #154
@jread-usgs and I are going to take these remaining issues on Friday evening.

[2016-12-08 14:27] jordansread commented on #154
Should we just go ahead and change the marker back to a square?

[2016-12-08 14:27] eread-usgs commented on #103
Ok, @wdwatkins that's fine to use screenshot. Is this issue complete? (meaning thumbnail added to repo?)

[2016-12-08 14:28] eread-usgs commented on #123
@wdwatkins how is progress on this one going?

[2016-12-08 14:28] eread-usgs commented on #110
@jread-usgs are you satisfied with this fix?

[2016-12-08 14:29] eread-usgs commented on #48
Hi @lindsaycarr I reviewed the plan, looks great. thank you

[2016-12-08 14:29] eread-usgs commented on #154
sure

[2016-12-08 15:13] jordansread opened #159 "IE doesn't support scale transitions"
is it the use of `scale3d()` or does it also not support `scale`?

- [x] IE fix for states
- [x] IE fix for national bins

[2016-12-08 15:16] jordansread commented on #159
The issue here is that the states don't scale. The colors change but the sizes do not.

[2016-12-08 15:22] jordansread commented on #159
If IE can't do `scale()` or `scale3d()` with css, we will probably just need to set the `transform="scale(scale)"` directly on the svg element. I don't think we should worry about animating this, just have it abruptly flip.

[2016-12-08 15:24] jordansread commented on #159
https://connect.microsoft.com/IE/feedback/details/811744/ie11-bug-with-implementation-of-css-transforms-in-svg
[code]

[2016-12-08 15:36] jordansread commented on #159
@mwernimont can you put a browser test for IE in
[this function](https://github.com/USGS-VIZLAB/water-use/blob/master/layout/js/map.js#L39) and [this function](https://github.com/USGS-VIZLAB/water-use/blob/master/layout/js/map.js#L71) so we can slide some code in (like `if (browser === IE){do things}`)?

[2016-12-08 15:49] mwernimont commented on #159
@jiwalker-usgs is this a decent solution? http://stackoverflow.com/questions/19999388/check-if-user-is-using-ie-with-jquery

[2016-12-08 16:14] jordansread opened #160 "IE has trouble with tooltips"
What we did in hurricane-matthew worked, but here we are having trouble. @ldecicco-USGS can you add details of what you are seeing?

[2016-12-08 16:18] ldecicco-USGS commented on #160
When I hover over a state with the developer tools open, I get an error on line 188 of map.js:
[code]

[2016-12-08 16:57] lindsayplatt commented on #151
@jread-usgs should we close this as "won't fix"?

[2016-12-08 17:05] jordansread commented on #151
IMO, yes.

[2016-12-08 17:15] #151 closed, assigned to nobody

[2016-12-08 17:44] mwernimont commented on #159
@jread-usgs #161 Has the global variables

[2016-12-08 17:49] dblodgett-usgs opened #163 "Call out for why 50-55 thermo and industrial are missing."
Need to add text below the legend when on 1950-55 and the thermoelectric and industrial categories. Should read "Thermoelectric and Industrial categories were not split in 1950 and 1955."

[2016-12-08 17:49] dblodgett-usgs commented on #163
If we merge #162 we need to do this.

[2016-12-08 17:55] wdwatkins commented on #123
should be finished with #156 merged

[2016-12-08 17:55] #123 closed, assigned to wdwatkins

[2016-12-08 17:56] wdwatkins commented on #103
Thumbnail is added, although if there were further data changes it might need to be updated?

[2016-12-08 18:12] ldecicco-USGS opened #164 "Use state data to get totals for bar graph"

[2016-12-08 18:15] ldecicco-USGS opened #165 "Losing hover on bar...sometimes"
I'll try to figure out the pattern.

[2016-12-08 18:19] ldecicco-USGS commented on #165
First, hover over map, all's good. Click on something anything,, then come back and try hovering over the current year's bar, no hover.

[2016-12-08 18:31] ldecicco-USGS opened #166 "Make bar graph stacked with categories (?)"

[2016-12-08 18:40] eread-usgs commented on #163
I would recommend that text to read "Prior to 1960, thermoelectric water use was included within the industrial water use category." The word 'split' may be confusing, and doesnt cue the user that those data are actually within industrial. @dblodgett-usgs

[2016-12-08 18:42] dblodgett-usgs commented on #163
We aren't showing industrial either. I think your text is better either way though.

[2016-12-08 20:46] wdwatkins commented on #165
Is this that transparent mouse overlay @jread-usgs mentioned in his talk?

[2016-12-08 21:30] eread-usgs commented on #103
I think it's probably OK because it will be pretty small.... if major changes occur we can re-make it. Thanks @wdwatkins

[2016-12-08 21:30] #103 closed, assigned to wdwatkins

[2016-12-09 00:46] jiwalker-usgs commented on #165
This is introduced by the mobile fix to hide tooltips at certain points due to (click and scroll).  The tooltip library should maybe be swapped out for something that is less finicky.

[2016-12-09 02:06] jordansread commented on #165
@jiwalker-usgs can/should we just replace those bars w/ svg `rect`s? then we can just use the same tip functions. If we set the base of the rectangle relative to 0 in y-space, we can scale y as `scale3d(1, yscale,1)`

like
[code]
![image](https://cloud.githubusercontent.com/assets/2349007/21034983/8f6405f8-bd81-11e6-8922-e1089d9900c1.png)

scale relative to the baseline (that red dot):
[code]
![im

[2016-12-09 02:20] jordansread commented on #163
Another thing to add here is why HI and AK are showing up as 0 in 1950 instead of no data. Should they be no data?

[2016-12-09 12:45] dblodgett-usgs commented on #163
I'll look at that. They should probably be dropped.

[2016-12-09 13:04] dblodgett-usgs commented on #163
The HI/AK thing is fixed in #168

[2016-12-09 15:24] jordansread opened #169 "Have map and slider div scale relative to the vertical space in the browser/device"
The map and slider should be maximum size, but limited by the vertical *and* horizontal space. I think it just scaled relative to the width right now.

for example, here is my browser:
![image](https://cloud.githubusercontent.com/assets/2349007/21053919/1dc54144-bdf1-11e6-90f4-ae44822de27c.png)

I would like this to scale down a bit because it doesn't have space to show the slider and full map in

[2016-12-09 15:24] jordansread commented on #169
@mwernimont can you snag this?

[2016-12-09 15:37] ldecicco-USGS commented on #159
OK, closing this issue because we're good enough. Note though, the lower bars *were* actually transitioning just fine. PR#167 made it so the states scale, but they don't have the smooth transition.

[2016-12-09 15:37] #159 closed, assigned to nobody

[2016-12-09 16:04] jiwalker-usgs commented on #165
Yeah, that is probably a good way to go. Can tooltips extend outside of the extent of the svg area?

[2016-12-09 16:53] jordansread commented on #166
![image](https://cloud.githubusercontent.com/assets/2349007/21057065/bab39850-bdfd-11e6-9897-95f5891b1d92.png)

[2016-12-09 16:55] jordansread commented on #165
No, they can't @jiwalker-usgs . Good point. But, I would suggest if we do this we just extend the svg and add the bars on the bottom. Might need to do this anyways if we take on the more complicated solution of #166

[2016-12-09 17:14] mwernimont commented on #169
@jread-usgs #170

[2016-12-09 17:38] jordansread opened #171 "tooltip should be above legend"
![image](https://cloud.githubusercontent.com/assets/2349007/21058515/efef37b2-be03-11e6-9ba7-2f9e3ef55e25.png)

[2016-12-09 17:40] jordansread commented on #129
@jiwalker-usgs what needs to happen to support this?

[2016-12-09 17:41] jordansread commented on #131
@ldecicco-USGS @dblodgett-usgs where are we on this?

[2016-12-09 18:01] dblodgett-usgs commented on #131
It is done. Although we don't have a decision on releasing the data yet

[2016-12-09 18:01] #131 closed, assigned to ldecicco-USGS, dblodgett-usgs

[2016-12-09 18:09] eread-usgs commented on #48
I would like to label this as priority but don't see how on mobile (and I don't have wifi at the moment.) @lcarr just noting this for you and I'll change it when I get on my laptop

[2016-12-09 18:15] jiwalker-usgs commented on #129
I'm still not clear how the embed will happen.  Is this an iframe with a url, because then we should provide a url without the text and header/footer that people can use in an iframe.  This could just be another publish (page) which leaves out those sections.

[2016-12-09 18:16] jiwalker-usgs commented on #165
yeah, makes sense to me

[2016-12-09 18:30] wdwatkins commented on #48
Can we/someone tweet this out with an AGU hashtag at some point since @eread-usgs is giving a talk on it?

[2016-12-09 18:59] jordansread commented on #160
this is the issue line:
[code]

[2016-12-09 19:04] #171 closed, assigned to jordansread

[2016-12-09 19:14] #160 closed, assigned to jordansread

[2016-12-09 19:42] jordansread commented on #134
@ldecicco-USGS have you looked at the footer on IE lately? is this still an issue?

[2016-12-09 19:43] ldecicco-USGS commented on #134
![image](https://cloud.githubusercontent.com/assets/1105215/21062220/6a82d1c6-be15-11e6-89c4-fa1f2b736dbb.png)

[2016-12-09 19:44] lindsayplatt commented on #48
@eread-usgs what is the title of your talk?

[2016-12-09 19:44] ldecicco-USGS commented on #134
I think this is the same as in matthew, it's stretching the pictures:

![image](https://cloud.githubusercontent.com/assets/1105215/21062267/a633c0a4-be15-11e6-917c-ab297a4327a1.png)

[2016-12-09 19:46] wdwatkins commented on #48
Maybe someone/some organization that is involved in the data viz session could tweet/retweet to promote the session?  Maybe a session chair?

[2016-12-09 19:56] jordansread commented on #48
@lindsaycarr it is [Maximizing Impact: Pairing interactive web visualizations with traditional print media](https://agu.confex.com/agu/fm16/meetingapp.cgi/Paper/175319)
at noon PT on Thursday (2pm your time)

[2016-12-09 22:26] jordansread commented on #164
in #173

[2016-12-09 22:26] #164 closed, assigned to ldecicco-USGS

[2016-12-10 01:56] jordansread opened #174 "spot-check sizes (px count) to scaling and numbers"
Verify that the colored pixel count within a state scales appropriately and that states are comparable.

[2016-12-10 02:43] jordansread commented on #174
[code]
using
[code]
which outputs:
[code]

[2016-12-10 03:35] jordansread opened #175 "Add "no data" or equivalent to missing national totals in bars"
For thermo and industrial in 1950-1955

![image](https://cloud.githubusercontent.com/assets/2349007/21070961/6a675972-be57-11e6-86a9-dca90aa36acc.png)

We need to do something like this because otherwise it gives the impression that the national totals are 0.

[2016-12-10 03:47] jordansread commented on #174
explanation of the above ☝️
I took png images of the viz with other states masked out and at the same zoom level. There are 4 colors in the map - white, grey (state background), darker grey (state background border), and the emphasis color (http://www.color-hex.com/color/2e86ab). I used `imagemagick` to do histograms of the images for each state to get a pixel count for each color. There are way m

[2016-12-10 13:05] #163 closed, assigned to eread-usgs

[2016-12-10 14:24] eread-usgs opened #177 "Add label to timeline bars"

[2016-12-10 15:07] dblodgett-usgs opened #179 "Use state sum rather than national total for histogram."
Shouldn't be too bad and it would be nice to be consistent in what data we are showing.

[2016-12-10 15:09] dblodgett-usgs commented on #179
Cool looks like @ldecicco-USGS did this Friday. Will remove old state data fetching code and close this out.

[2016-12-10 15:39] jordansread commented on #177
I am going to start this with `US: {value} Mgal/d` to be consistent w/ the state tool tips. I want to avoid using the word "Total" because that is a category. Other options?

[2016-12-10 15:50] dblodgett-usgs commented on #177
Sum: ? Total: {category} {value} ? I think US: is probably good though.

[2016-12-10 16:44] jordansread commented on #174
completed

[2016-12-10 16:44] #174 closed, assigned to jordansread

[2016-12-10 16:49] #179 closed, assigned to dblodgett-usgs

[2016-12-10 18:00] jordansread commented on #175
![screenshot_20161210-115932](https://cloud.githubusercontent.com/assets/2349007/21075143/3badfb94-bed0-11e6-8041-3a6086ca9eba.png)

[2016-12-10 18:02] eread-usgs commented on #175
Looks good

[2016-12-10 19:40] jordansread commented on #165
I don't think it makes sense to convert this to svg unless we are doing #166.

[2016-12-10 20:16] jordansread commented on #134
![image](https://cloud.githubusercontent.com/assets/2349007/21075900/3f8ce5dc-bee3-11e6-8d05-55a2142b3817.png)

[2016-12-10 20:25] #175 closed, assigned to jordansread

[2016-12-10 20:35] eread-usgs commented on #107
Seeing this again, but not when I'm in incognito. Not a hugely pressing priority before Tuesday, but still a pretty big deal. @jiwalker-usgs
![screen shot 2016-12-10 at 2 33 37 pm](https://cloud.githubusercontent.com/assets/7794368/21075992/f241b912-bee5-11e6-9d23-214c7797f08b.png)

[2016-12-11 21:42] eread-usgs commented on #163
This is now mentioned in the caption text and is clearly marked on the timeline. I consider it resolved .

[2016-12-11 21:44] eread-usgs commented on #107
I'm also seeing this on mobile BTW @jiwalker-usgs. @jread-usgs thought perhaps the SVG was loading but the onload JS was not running

[2016-12-11 21:45] eread-usgs commented on #177
I consider this one closed with #180

[2016-12-11 21:45] #177 closed, assigned to jordansread, eread-usgs

[2016-12-11 22:44] #169 closed, assigned to mwernimont

[2016-12-11 22:44] jordansread commented on #134
@mwernimont see #181

[2016-12-12 15:58] jordansread commented on #165
@ldecicco-USGS is this bad enough to put the `priority` tag on it?

[2016-12-12 16:00] jordansread commented on #134
One more thing remaining is to left-justify the two svgs in here. I think @mwernimont is working on that.

[2016-12-12 16:09] ldecicco-USGS commented on #165
It's a bit weird. But, I think we could release without the fix.

[2016-12-12 16:34] lindsayplatt commented on #166
is this still happening?

[2016-12-12 16:38] wdwatkins commented on #48
are their size (dimensions or file size) restrictions for twitter gifs?

edit: looks like 5mb

[2016-12-12 16:46] lindsayplatt commented on #48
@wdwatkins this has some additional info: https://dev.twitter.com/rest/media/uploading-media#gifrecs

[2016-12-12 16:52] eread-usgs commented on #166
no @lindsaycarr it is not.

[2016-12-12 16:52] #166 closed, assigned to nobody

[2016-12-12 17:35] wdwatkins commented on #48
![wateruse](https://cloud.githubusercontent.com/assets/13987349/21109518/0eb3fb9e-c05f-11e6-9dd5-b8a02ef55c77.gif)
this is just under the dimension limit

[2016-12-12 17:56] #134 closed, assigned to jordansread, mwernimont

[2016-12-12 21:22] wdwatkins commented on #48
with new data and 10ms less delay
![wu_gif2](https://cloud.githubusercontent.com/assets/13987349/21117358/d58039ee-c07e-11e6-9191-a058d22e69cc.gif)

[2016-12-12 21:27] #48 closed, assigned to wdwatkins

[2016-12-13 01:40] jiwalker-usgs commented on #165
#188 should fix

[2016-12-13 01:42] jiwalker-usgs commented on #129
#188 takes a shot at this, check out embed.html.  We may want a separate CSS file because the main plays around a bit to accomodate the footer.

[2016-12-13 01:43] jiwalker-usgs commented on #107
This looks good to me, but I wasn't running into the problem very much.  Do others see it as fixed?

[2016-12-13 01:44] jiwalker-usgs commented on #110
now #188 is the new tooltips fix, does this act how you'd want?

[2016-12-13 04:53] lindsayplatt commented on #165
Seems to work for me @jiwalker-usgs !

[2016-12-13 15:15] wdwatkins commented on #107
I haven't been able to make the same problem happen, but after probably 20 + refreshes it did this:
![image](https://cloud.githubusercontent.com/assets/13987349/21145675/b289ce8c-c114-11e6-8859-62de45e71368.png)

[2016-12-13 15:20] wdwatkins commented on #107
@jiwalker-usgs its the same error, now happening in the setTimeout.  Maybe we need a longer delay?

[2016-12-13 15:31] #154 closed, assigned to nobody

[2016-12-13 16:01] lindsayplatt commented on #48
@wdwatkins from Scott Horvath:

[code]

[2016-12-13 21:47] jiwalker-usgs commented on #107
I think I properly knocked this one out this morning with @wdwatkins's help.  This is something we should build into the vizlab.js to create a way to determine when the page is really done loading.  Basically the $(document).ready runs before some of the dom is available to work with.

[2016-12-13 21:47] #107 closed, assigned to jiwalker-usgs

[2016-12-13 21:47] #165 closed, assigned to nobody

[2016-12-13 21:49] jiwalker-usgs commented on #129
It isn't presented in the viz, but embed.html is available should anyone find the easter egg.  This is another thing we should work into vizlab to make optional for figures/sections.  Part of trick is where our script/css dependencies end up (in page and not section), so automating it is tricky.

[2016-12-13 21:49] #129 closed, assigned to nobody

[2016-12-13 21:50] #110 closed, assigned to nobody

[2018-05-08 20:40] ldecicco-USGS opened #215 "Update text to acknowledge 2015 data"
I think it's literally just remove "Compilation of water-use data for 2015 is underway. "....but should double-check

[2018-05-08 20:45] ldecicco-USGS opened #216 "Figure out favicon"
Again....
we're on:
[code]
for the record

[2018-05-08 20:46] ldecicco-USGS opened #217 "Get initial view to start at 2015"

[2018-05-08 20:47] ldecicco-USGS opened #218 "Get 2015 data in the bars down below"

[2018-05-08 20:48] ldecicco-USGS opened #219 "New missing data"
MT and DC seem to have some missing data that they didn't have before. I've got new data for MT...get that in and explore what's happening with DC.

[2018-05-08 21:10] ldecicco-USGS opened #220 "Change football field calculations"
ENDZONES!

[2018-05-08 21:13] #215 closed, assigned to nobody

[2018-05-08 21:15] #217 closed, assigned to nobody

[2018-05-08 21:16] ldecicco-USGS commented on #218
OK, so the bars for 2015 are there...they are just on top of 1950:

![image](https://user-images.githubusercontent.com/1105215/39783591-31e4e910-52db-11e8-9f70-4ef68a5be7c9.png)

[2018-05-08 21:17] dblodgett-usgs commented on #220
I mean really, the endzone isn't part of the field of play...

[2018-05-09 11:22] jordansread commented on #218
I think we need to add a css rule for the 2015 bar:
https://github.com/USGS-VIZLAB/water-use/blob/fe777191a7c63b799871e9573e99bec32b55c96e/layout/css/main.css#L138

[2018-05-09 14:04] ldecicco-USGS commented on #218
Cool!

[2018-05-09 15:37] #218 closed, assigned to nobody

[2018-05-09 15:39] ldecicco-USGS commented on #216
I vaguely remember we fixed this in some iteration of vizlab. Locally when I build it's working, but still not showing up on dev. I've tried updating the image itself (so at least it'll be "retina" friendly when it actually works).

At some point I'll investigate PRs of vizlab to refresh my memory.

[2018-05-10 16:46] ldecicco-USGS opened #225 "DC map scaling"
@jread-usgs got any ideas why DC is showing no data on the map? On the hover it's displaying the values right.

![image](https://user-images.githubusercontent.com/1105215/39881844-b537dc74-5447-11e8-9e33-bf9ad8e840a4.png)

[2018-05-10 17:06] jordansread commented on #225
Can this get up to dev so I can poke around?

[2018-05-10 18:04] ldecicco-USGS commented on #225
S'up on dev:

http://dev-owi.usgs.gov/vizlab/water-use/

The work's on the newData branch:

https://github.com/USGS-VIZLAB/water-use/tree/newData

[2018-05-10 18:12] jordansread commented on #225
hmmm...this is what I see on dev:
![image](https://user-images.githubusercontent.com/2349007/39885975-b3eabaec-5453-11e8-9130-e4843d5434b0.png)

[2018-05-10 18:14] ldecicco-USGS commented on #225
Go over to 2005. There is actually a 0 data reported in 2010 and 2015...and I think those 0's are there in the json.

[2018-05-10 18:18] jordansread commented on #225
ahh, didn't see the date. I see it, yes

[2018-05-10 18:19] lindsayplatt opened #226 "paragraph text update"
Need to change `From 1985 to present` to `From 1985 to 2015` in the third paragraph.

https://github.com/USGS-VIZLAB/water-use/blob/master/data/siteText.yaml#L29

[2018-05-10 18:24] jordansread commented on #225
Seems the dev json is repeating itself (http://dev-owi.usgs.gov/vizlab/water-use/js/scaleFactors.json) - there 140 DC fields vs 70 in https://owi.usgs.gov/vizlab/water-use/js/scaleFactors.json

One of the occurrences for each yeah has no field for scaleFactor, so that makes it "missing"

[2018-05-10 18:33] ldecicco-USGS commented on #225
Cool, found it I think

[2018-05-10 18:47] #226 closed, assigned to nobody

[2018-05-10 18:47] #225 closed, assigned to nobody

[2018-05-10 18:48] #216 closed, assigned to nobody

[2018-05-10 18:48] #219 closed, assigned to ldecicco-USGS